body{
	margin: 0px;
	background: lightskyblue;
	height: 100vh;
	width: 100%;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: transparent;
}

.area-game{
	width: 500px;
	height: 500px;
	border-radius: 100%;
	display: grid;
	grid-template-areas: 'verde vermelho' 
	'azul amarelo';
	grid-gap: 10px;
}

.blue{
	grid-area: azul;
	background: blue;
	border-bottom-left-radius: 100%;
	border-top-right-radius: 20%;
	opacity: 1;
}

.green{
	grid-area: verde;
	background: green;
	border-top-left-radius: 100%;
	border-bottom-right-radius: 20%;
	opacity: 1;
}
.red{
	grid-area: vermelho;
	background: red;
	border-top-right-radius: 100%;
	border-bottom-left-radius: 20%;
	opacity: 1;

}
.yellow{
	grid-area: amarelo;
	background: yellow;
	border-bottom-right-radius: 100%;
	border-top-left-radius: 20%;
	opacity: 1;
}

.selected{
	opacity: 0.5;
}


.nivel{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
}

.nivel input{
	width: 100%;
	height: 80%;
	text-align: center;
}
.areaHowJogar button{
	position: absolute;
	right:20px;
}

.howJogar{
	background-color: cadetblue;
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 10px;
	display: none;
	z-index: 2;
}

.btn-play{
	position: absolute;
	left: 47%;
	bottom: 10px;
	z-index: 1;
}